@model EventDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<h1>@Model.SportName</h1>
<h1>@Model.LeagueName</h1>
<h1>@Model.DrawOdds</h1>
<h1>@Model.AwayTeamOdds</h1>
<h1>@Model.HomeTeamOdds</h1>
<h1>@Model.AwayTeamScore</h1>
<h1>@Model.HomeTeamScore</h1>

